* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1120px; 
    margin: 0 auto;
    padding: 0 15px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    background-color: #1B4961;
    align-items: center;
    padding: 1rem 2rem;
}

.open-hours {
    display: flex;
    align-items: center;
    gap: 20px;
}

.open-hours .open {
    display: flex;
    gap: 10px;
}

.open i {
    color: #FE2144;
}

.open p,
.closed,
p {
    color: #CECECB;
    font-size: 1rem;
}

.social {
    display: flex;
    gap: 15px;
}

.social i {
    color: #eaeaea;
    font-size: 1rem;
}

/* header */
header {
    background-color: #FAFAF6;
    height: 4.4rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.desktop-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.desktop-menu h1 {
    font-size: 1.5625rem;
    font-weight: 700;
}

.menus-link {
    display: flex;
    gap: 20px;
}

.menus-link li {
    list-style: none;
}

.menus-link li a {
    text-decoration: none;
    color: #2b2b2b;
    font-size: 1.25rem;
    font-weight: 500;
}

.menus-link li a:hover {
    color: #5F6AD4;
}

.humberger {
    display: none;
}

.mobile-menu {
    display: none;
}

/* hero */



.hero {
    background:
        linear-gradient(rgba(48, 74, 87, 0.8),
            rgba(48, 74, 87, 0.8)),
        url("https://preview.colorlib.com/theme/consultingbiz/assets/img/hero/hero2.jpg") center / cover no-repeat;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.title h1 {
    color: white;
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 800;
    line-height: 1.2;
}



/* service section */

.services-section {
    background-color: #e6e6e6;
    padding: 100px 0;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-header {
    margin-bottom: 60px;
}

.subtitle {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ff2d55;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.line {
    width: 40px;
    height: 2px;
    background-color: #ff2d55;
}

.section-header h2 {
    color: #092C3F;
    font-size: 40px;
    font-weight: 700;
}

/* Grid Layout */
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

/* Card Styling */
.service-card {
    background: #fff;
    padding: 50px 30px;
    text-align: center;
    transition: all 0.4s ease;
    border: 1px solid transparent;
}



.icon {
    margin-bottom: 30px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon i {
    font-size: 40px;
    color: #FE2144;

}

.service-card h3 {
    color: #101720;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}

.service-card p {
    color: #2b2b2b;
    line-height: 1.6;
    font-size: 15px;
    margin: 0;
}

/*  */

.title h1 {
    color: white;
    font-weight: 800;
    line-height: 1.2;
}



/* cta */

.cta-section {
    background-color: #0b1c39;
    padding: 100px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
    position: relative;
    overflow: hidden;
}



.cta-content h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.cta-content p {
    color: #ced4da;
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 40px auto;
    line-height: 1.6;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-solid {
    background-color: #ffffff;
    color: #0b1c39;
    padding: 18px 35px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.3s;
}



.btn-outline {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 16px 35px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.3s;
}



/* pricing section */
.pricing-section {
    background: url("https://preview.colorlib.com/theme/consultingbiz/assets/img/gallery/section_bg02.jpg") center / cover no-repeat;
    padding: 100px 0;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.section-header h2 {
    font-size: 42px;
    margin: 15px 0 30px;
    color: #eaeaea;

}

.section-header p {
    font-size: 26px;
    color: #eaeaea;
}


.pricing-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.price-card {
    background: #fff;
    color: #0b1c39;
    padding: 50px 40px;
    border-radius: 10px;
    flex: 1;
    max-width: 350px;
    position: relative;
}

.price-card.popular {
    background-color: #ff2d55;
    color: #fff;
    transform: scale(1.05);
    z-index: 2;
}

.badge {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background: #0b1c39;
    color: #fff;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
}


.price {
    font-size: 48px;
    font-weight: 800;
    margin: 20px 0;
}

.price sup {
    font-size: 20px;
}

.price span {
    font-size: 14px;
    font-weight: normal;
    color: #506172;
}

.popular .price span {
    color: #fff;
    opacity: 0.8;
}

.features {
    list-style: none;
    padding: 0;
    margin: 30px 0;
    text-align: left;
}

.features li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.features li.disabled {
    color: #ccc;
    text-decoration: line-through;
}

.popular .features li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Buttons */
.btn-red {
    display: block;
    background: #ff2d55;
    color: #fff;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn-white {
    display: block;
    background: #fff;
    color: #ff2d55;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* client logos */

.client-logo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-block: 8rem 3rem;
    align-items: center;
    background-color: #F7F7F7;
    padding: 40px 20px;
}

.client-logo img {
    width: 140px;
    height: 40px;
    object-fit: contain;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 3rem 2rem;
    background: url("https://preview.colorlib.com/theme/consultingbiz/assets/img/gallery/footer_bg.jpg") center/cover no-repeat;
    min-height: 70vh;
    margin-top: 7rem;
}

footer .consulting {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.consulting h2 {
    color: #CECECB;
    font-size: 1.86rem;
}

.consulting p {
    color: #bdbdc1;
    line-height: 1.56rem;
}

.location {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.location h2 {
    color: #CECECB;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.location ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #CECECB;
    transition: color 0.3s;
}

ul li a:hover {
    color: #FE2144;
}

footer .subscribe {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subscribe h2 {
    color: #CECECB;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.subscribe p {
    color: #bdbdc1;
    line-height: 1.86rem;
}

.input-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-btn input {
    width: 100%;
    padding: 1rem;
    background-color: #101720;
    border: 1px solid #101720;
    color: #9FA6A9;
    font-size: 1rem;
}

.input-btn button {
    padding: 1rem 1.5rem;
    background: #FE2144;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: opacity 0.3s;
}

.input-btn button:hover {
    opacity: 0.9;
}

/* Tablet Styles */
@media (max-width: 1024px) {
    .container {
        padding: 0 20px;
    }

  

    footer {
        grid-template-columns: repeat(2, 1fr);
        
    }
}

/* Mobile Styles */
@media (max-width: 768px) {

    /* top header */
    .top-header {
        display: none;
    }

    /* header & hamburger */
    header {
        height: auto;
        padding: 10px 0;
    }

    .desktop-menu {
        display: none;
    }

    .humberger {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        background-color: #5F6AD4;
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: 20px;
        right: 20px;
        font-size: 1.5rem;
        z-index: 1001;
        cursor: pointer;
    }

    .humberger li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .mobile-menu {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: fixed;
        background-color: rgba(43, 43, 43, 0.95);
        inset: 0;
        transform: translateX(100%);
        transition: transform 350ms ease-in-out;
        z-index: 1000;
        padding-top: 100px;
    }

    .mobile-menu[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-menu .navigation {
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-direction: column;
        width: 100%;
        padding: 0 20px;
    }

    .mobile-menu .navigation .menus-link {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
    }

    .mobile-menu h1 {
        font-size: 2rem;
        font-weight: 700;
        border-bottom: 1px solid white;
        padding: 15px;
        color: white;
        text-align: center;
        width: 100%;
    }

    .mobile-menu a {
        color: white !important;
        font-size: 1.5rem;
    }

    /* hero */
    .hero {
        height: 60vh;
        padding: 1rem;

    }



    /* /* service section */
    .services-grid {
        grid-template-columns: repeat(1, 1fr);
    }
       

    /* cta */
    .cta-buttons {
        flex-direction: column;
        align-items: center;
    }

    /* client logos */
    .client-logo {
        flex-wrap: wrap;
        gap: 20px;
        margin-block: 4rem 2rem;
        padding: 20px;
    }
    .client-logo img {
        width: 100px;
        height: auto;
    }

    /* footer */
    footer {
        grid-template-columns: 1fr;
        height: auto;
        gap: 2rem;
        padding: 2rem 1rem;
        margin-top: 4rem;
    }

    .input-btn {
        flex-direction: column;
    }

    .input-btn button {
        width: 100%;
    }
}

/* Small Mobile Styles */
@media (max-width: 480px) {
   

   
    .services-grid {
        grid-template-columns: 1fr;
    }

    .boxs {
        margin-top: 1rem;
    }

    .client-logo {
        gap: 15px;
    }

    .client-logo img {
        width: 80px;
    }
}